mat-grid-tile {
    background: #ffe659;
    border-radius: 10px; 
    border-color: #d1bd49;   
}
.card-tile{
    width: 100%;
    height: 100%;
    padding: 10px;
}
.card-header{ 
    width: 100%;  
    padding-top: 10px;
    align-self: flex-start;  
    display:inline-block;
    vertical-align: middle; 
    cursor: pointer;
}

.header-title {  
    width: auto;
    padding-top: 10px;
    padding-left: 10px;
    align-self: flex-start;  
    display:inline-block;
    vertical-align: middle; 
    font-size: medium;   
    cursor: pointer; 
}
.card-body{
    display: block; 
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    text-overflow: ellipsis;
    word-wrap: normal;
    overflow: hidden;
    max-height: 9em;
    line-height: 1.8em;
    cursor: pointer;
}
.matgrid-add-tile{
    background: #7cd8ec; 
    border-color: #f7d308; 
    cursor: pointer;
}
.add-tile{ 
    padding: 10px;
    font-size: 48px; 
    align-self:center;  
    display:inline-block;
    vertical-align: middle; 
    color: rgb(21, 50, 66);
}
