div {
    height: 3vw;
    width: 100%;
    position: relative; 
    bottom: 0px; 
    background-color: rgba(144, 164, 174, 0.6); 
    display: inline-block;
    align-items: center;
    vertical-align: middle;
    box-shadow: 1px 0px 36px 3px rgba(64,80,89,0.73);
    -webkit-box-shadow: 1px 0px 36px 3px rgba(64,80,89,0.73);
    -moz-box-shadow: 1px 0px 36px 3px rgba(64,80,89,0.73);
}

p {
    width: 100%; 
    vertical-align: middle;
    align-self: center;
    text-align: center;
}